@using StoreProject.Common
@using StoreProject.Features.Cart.Services
@using StoreProject.Features.Favorite.Services
@using StoreProject.Features.Product.Model
@using System.Security.Claims
@model DetailsModel
@inject ICartService _cartService;
@inject IFavoriteService _favoriteService;
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var currentUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
}
@Html.AntiForgeryToken()
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="ratio ratio-4x3 bg-light rounded">
                    <img src="@Directories.GetProductImage(Model.ImageUrl)" class="img-fluid" alt="Product Image">
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h3>@Model.Title 
                        <a class="favorite-btn" data-product-id="@Model.ProductId">
                            <i class="fa fa-heart 
                                @(_favoriteService.IsFavorite(userId, Model.ProductId) ? "text-danger" : "text-secondary")">
                            </i>
                        </a>
                    </h3>
                    <h2>@Model.Price</h2>
                    <ul class="list">
                        <li>
                            <a class="active" asp-controller="Categories" asp-action="Details" asp-route-slug="@Model.CategorySlug">
                                <span>Category :</span> @Model.CategoryTitle
                            </a>
                        </li>
                        <li>
                            <a> 
                                <span>Availibility :</span> 
                                @(Model.Stock != 0 ? "In Stock" : "Out of Stock")
                            </a>
                        </li>
                    </ul>
                    <p>
                        @Model.Description.FirstFourSentences()
                    </p>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        @if(Model.Stock != 0)
                        {                            
                            @if (_cartService.IsProductInCart(userId, Model.ProductId))
                            {
                                <div class="product_count">
                                    <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                                    <input class="input-number quantity-input" type="number" 
                                        data-product-id="@Model.ProductId" value="@Model.ProductQuantity" 
                                        min="1" max="@(Model.Stock < 10 ? Model.Stock : 10)">
                                    <span class="number-increment"> <i class="ti-plus"></i></span>
                                </div>
                                <a asp-controller="Cart" asp-action="DeleteFromCart" 
                                    asp-route-productId="@Model.ProductId" asp-route-callBackUrl="@currentUrl">
                                    <img style="max-width: 25px" src="@Directories.GetIconImage("recycle-bin.png")" alt="Recycle bin Image" />
                                </a>
                                <h4 class="text-success">Added to cart</h4>
                            }
                            else
                            {
                                <open-modal tag="a" modal-size="sm" method="post" style="cursor:pointer; padding-left=" class="btn_3" 
                                    url="@Url.Action("AddToCart", "Cart", new {productId=Model.ProductId, callBackUrl=currentUrl})">
                                    Add to cart 
                                </open-modal>
                            }
                        }
                        else
                        {
                            <h4 class="text-danger">Out of stock</h4>
                        }
                    </div>
                    <div>
                        <br />
                        <a class="btn_1" asp-controller="Cart" asp-action="Index" asp-route-receivedUrl="@currentUrl">
                            View shopping cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
