<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" 
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini">

    <div class="modal" id="default_Modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>

<div class="wrapper">
  <partial name="_AdminNavbar" />
  <partial name="_AdminMainSidebar" />
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>@ViewData["Title"]</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a asp-controller="Admin" asp-action="Index">Admin</a>
              </li>
              <li class="breadcrumb-item active">@ViewData["Title"]</li>
              <li class="breadcrumb-item active">@ViewData["ActionName"]</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class=content>
      @RenderBody()
    </section>
  </div>
  <partial name="_AdminFooter" />
  <aside class="control-sidebar control-sidebar-dark"></aside>
</div>

<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../dist/js/global.js"></script>
<script src="/js/store.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
