@using StoreProject.Common
@using StoreProject.Features.Product.Services
@inject IProductManagementService _productManagementService
@{
    var currentUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
    var products = _productManagementService.GetBestSellingProducts(3);
}

<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="banner_slider owl-carousel">

                    @foreach(var product in products)
                    {
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h2>@product.Title</h2>
                                            <p>@product.Description</p>
                                            <open-modal class="btn_2" tag="a" modal-size="sm" method="post" style="cursor:pointer; padding-left: 15px;"
                                                url="@Url.Action("AddToCart", "Cart", new {productId=product.Id, callBackUrl=currentUrl})">buy now
                                            </open-modal>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <a asp-controller="Products" asp-action="Details" asp-route-slug="@product.Slug">
                                        <img style="width: 735px; height: 390px;" src="@Directories.GetProductImage(product.ImageUrl)" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="slider-counter"></div>
            </div>
        </div>
    </div>
</section>
<hr />