@using System.Security.Claims
@model StoreProject.Features.Category.Model.DetailsModel
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

@Html.AntiForgeryToken()
<section>
    <div class="container" style="margin-top: 200px; margin-bottom: 20px;">
        <center>
            <div>
                <h2>@Model.Title</h2>
            </div>
        </center>
    </div>
</section>

<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <vc:browse-categories></vc:browse-categories>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu">
                                <p><span>@Model.ProductsCount </span> Product Found</p>
                            </div>

                            <form method="get" asp-controller="Categories" asp-action="Details">
                                <div class="single_product_menu d-flex align-items-center gap-2">

                                    <!-- Min Price -->
                                    <input type="number" class="form-control" value="@Model.Filter.ProductFilterParams.MinPrice" name="minPrice" placeholder="Min" min="0" step="0.01" style="max-width: 100px;">

                                    <!-- Max Price -->
                                    <input type="number" class="form-control" value="@Model.Filter.ProductFilterParams.MaxPrice" name="maxPrice" placeholder="Max" min="0" step="0.01" style="max-width: 100px;">

                                    <!-- Search Input -->
                                    <div class="input-group" style="flex: 1;">
                                        <input type="text" class="form-control" value="@Model.Filter.ProductFilterParams.Title" name="productTitle" placeholder="search" aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <button type="submit" class="input-group-text" id="inputGroupPrepend">
                                                <i class="ti-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="row align-items-center latest_product_inner">
                    @if (Model.Filter.Products.Count != 0)
                    {
                        @foreach (var product in Model.Filter.Products)
                        {
                            <div class="col-lg-4 col-sm-6">
                                <partial name="_ProductItem" model="@product" />
                            </div>
                        }
                    }
                    else
                    {
                        <h3>
                            Oops! No product found.
                        </h3>
                    }

                    <partial name="_Pagination" model="Model.Filter"/>
                </div>
            </div>
        </div>
    </div>
</section>

<vc:best-selling-products count="10"></vc:best-selling-products>
