@using StoreProject.Features.Shared.Model
@model List<CategoryTreeModel>


<div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
    <ul class="navbar-nav">

        @foreach (var category in Model)
        {
            @if (category.ChildCategories.Count != 0)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" asp-controller="Categories" asp-action="Details" 
                        asp-route-slug="@category.Slug" id="navbarDropdown_1"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        @category.Title
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                        @foreach (var child in category.ChildCategories)
                        {
                            <a class="dropdown-item" asp-controller="Categories" 
                                asp-action="Details" asp-route-slug="@child.Slug">
                                @child.Title
                            </a>
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Categories" asp-action="Details" 
                        asp-route-slug="@category.Slug">
                        @category.Title
                    </a>
                </li>
            }
        }
    </ul>
</div>
<hr />

