@using StoreProject.Features.User.Services
@inject IUserManagementService _userManagementService
@model StoreProject.Features.User.DTOs.UserFilterDto
@{
	Layout = "_AdminLayout";
    ViewData["selected"] = "users";
	ViewData["Title"] = "Users Management";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <open-modal
                    class="btn btn-success" title="Create User" url="@Url.Action("CreateUser", "UsersManagement")">
                    Create User
                </open-modal>

                <partial name="_AdminSearch" />

            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Roles</th>
                            <th>Register Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach(var user in Model.Users)
                        {
                            <tr>
                                <th>@user.Id</th>
                                <td>@user.UserName</td>
                                <td>@user.FullName</td>
                                <td>
                                    @foreach (var role in (await _userManagementService.GetUserRolesAsync(user.Id)))
                                    {
                                        <li style="list-style: none;">@role</li>
                                    }
                                </td>
                                <td>@user.RegisterDate.ToShortDateString()</td>

                                @if(user.IsDeleted == false)
                                { <td class="text-success">Active</td> }
                                else
                                { <td class="text-danger">Inactive</td> }

                                <td>
                                    <open-modal 
                                        title="Edit User" url="@Url.Action("EditUser", "UsersManagement", new{id=user.Id})">
                                        Edit User
                                    </open-modal>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<center>
    <partial name="_AdminPagination" />
</center>

